*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }


    @font-face {
        font-family: Madame;
        src: url(/public/Fonts/Madame.ttf);
    }

    @font-face {
        font-family: BookAntiqua;
        src: url(/public/Fonts/BookAntiqua.ttf);
    }

    @font-face {
        font-family: BebasNeueBold;
        src: url(/public/Fonts/BebasNeueBold.ttf);
    }


h1{
    text-align: center;
    margin: 4vw 0 4vw 0;
    font-family: Madame;
    letter-spacing: 2px;
    font-size: 7.5vw;
}

h2{
    font-family: BebasNeueBold;
    font-size: 5vw;
}

h4{
    font-family: BebasNeueBold;
    font-size: 3.5vw;
}

h5{
    font-family: BookAntiqua;
    font-size: 2.5vw;
}

p{
    font-family: BookAntiqua;
    font-size: 2.9vw;
}

@media only screen and (max-width: 600px){
    h1{
    font-size: 10vw;
    }
}