*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

.headerLogo{
    background-color: RGB(239, 192, 144)
}

@media screen and (max-width: 960px) {
    .headerLogo{
display: flex;
align-items: center;
justify-content: center;
    }
}

.headerLogo img{
    height: 9vw;
    margin: 0.5vw;
}

@media screen and (max-width: 960px) {
    .headerLogo img{
        height: 15vw;
        margin: 0.7vw;
    }
}

.navBarContainer{ 
    align-items: center;
    background-color: RGB(53, 23, 14);
    display: flex;
    justify-content: space-evenly;
    height: 10vw;
    width: 100%;
}

.linkContainer a:link{
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: bold;
    color:  RGB(239, 192, 144);
    transition: 0.5s all ease;
}

@media screen and (max-width: 960px) {
    .linkContainer a:link{
        font-size: 5vw;
    }
}

.linkContainer a:visited{
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: bold;
    color:  RGB(239, 192, 144);
    transition: 0.5s all ease;
} 

@media screen and (max-width: 960px) {
.linkContainer a:visited{
        font-size: 5vw;
    }
}

.burger{
width: 60vw;
}



/* 
header {
    align-items: center;
    background-color: RGB(53, 23, 14);
    display: flex;
    justify-content: space-evenly;
    height: 10vw;
    width: 100vw;
    }
    
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
    }
    
li{
    text-decoration: none;
    font-size: 3vw;
    font-weight: bold;
    color:  RGB(239, 192, 144);
    }
    
li:hover{ 
    text-shadow: 0 0 5px black, 0 0 5px RGB(244, 149, 32), 0 0 5px RGB(244, 149, 32), 0 0 5px RGB(244, 149, 32), 0 0 5px RGB(244, 149, 32), 0 0 5px RGB(244, 149, 32);
    font-size: 3vw;
    }

li a:link{
    text-decoration: none;
    font-size: 3vw;
    font-weight: bold;
    color:  RGB(239, 192, 144);
}

li a:visited{
    text-decoration: none;
    font-size: 3vw;
    font-weight: bold;
    color:  RGB(239, 192, 144);
}
 */


