*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

.headerLogo{
    background-color: RGB(239, 192, 144)
}

@media screen and (max-width: 960px) {
    .headerLogo{
display: flex;
align-items: center;
justify-content: center;
    }
}

.headerLogo img{
    height: 9vw;
    margin: 0.5vw;
}

@media screen and (max-width: 960px) {
    .headerLogo img{
        height: 15vw;
        margin: 0.7vw;
    }
}

.navBarContainer{ 
    align-items: center;
    background-color: RGB(53, 23, 14);
    display: flex;
    justify-content: space-evenly;
    height: 10vw;
    width: 100%;
}

.linkContainer a:link{
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: bold;
    color:  RGB(239, 192, 144);
    transition: 0.5s all ease;
}

@media screen and (max-width: 960px) {
    .linkContainer a:link{
        font-size: 5vw;
        text-decoration: none;
    }
}

.linkContainer a:visited{
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: bold;
    color:  RGB(239, 192, 144);
    transition: 0.5s all ease;
} 

@media screen and (max-width: 960px) {
.linkContainer a:visited{
    font-size: 5vw;
    text-decoration: none;
    }
}

.burger{
width: 60vw;
}




